<div class="container" style="width:50%;">
    <form class="text-center border border-light p-5" >

        <p class="h4 mb-4">Image Upload Page</p>

        <!-- Name -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Description">

        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                       accept='image/*'
                       (change)='handleChange($event)'
                       aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        <br>

        <!-- Send button -->
        <button class="btn btn-info btn-block"
                (click)='uploadImage()'
                type="submit">Upload</button>

    </form>
</div>